* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #4f46e5, #9333ea);
}

/* Card */
.box {
  width: 100%;
  max-width: 380px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(15px);

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

/* Heading */
.box h1 {
  color: white;
  margin-bottom: 20px;
}

/* Inputs */
.box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;

  border: none;
  border-radius: 10px;

  background: rgba(255,255,255,0.2);
  color: white;
  font-size: 14px;
}

/* Placeholder */
.box input::placeholder {
  color: #ddd;
}

/* Focus */
.box input:focus {
  outline: none;
  border: 1px solid #a5b4fc;
}

/* Button */
.box button {
  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: white;

  font-size: 15px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.box button:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(34,197,94,0.6);
}

/* Text */
.box p {
  color: #ddd;
  font-size: 14px;
}

/* Links */
.box a {
  color: #a5b4fc;
  text-decoration: none;
}